body {
	background-color: black;
	color: #ccc;
}

#container {
	background: url(../img/schwuk_bg.png) no-repeat;
}

#content {
	margin-top: 135px;
	background-color: ;
	color: #666;
	font-size: 2.5em;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	min-height: 500px;
}

p {
	margin: 1em;
}

p a {
	color: #ccc;
	text-decoration: none;
}

p a:hover {
	color: white;
}

p em {
	color: #999;
}

